{% extends 'base.html' %}
{% load static %}

{% block title %}
Movie Detail
{% endblock %}

{% block content %}
    <h1>Detail Filmu: </h1>
    <h2>{{ movie.title }}</h2>
    <li>Year:
        {% if movie.release_date %}
            {{ movie.release_date|date:"Y" }}</li>
        {% else %}
            <em>Unknown</em>
        {% endif %}
    <li>Genre:
    {% for genre in movie.genres.all %}
        {{ genre.name }}{% if not forloop.last %}, {% endif %}
    {% empty %}
    	<em>No genres</em>
    {% endfor %}
    </li>
    <li>Rating:
        {% if avg_rating %}
            {{ avg_rating|floatformat:2 }}
        {% else %}
        	<em>No reviews to calculate rating.</em>
        {% endif %}
    </li>
    <li>
    Actors:
    {% for actor in movie.actors.all %}
        {{ actor }}{% if not forloop.last %},{% endif %}{% if forloop.last %}.{% endif %}
    {% empty %}
        <em>No data about actors.</em>
    {% endfor %}
    </li>
    <p>{{ movie.description }}</p>

    <h1>Reviews:</h1>
    <ul>
        {% for review in movie.reviews.all %}
            <li>
            {{ review.user }}: {{ review.comment }} ({{ review.rating }}/10)
            {{ reviews }}
            </li>
        {% empty %}
            <li style="color: firebrick"><h3>No reviews.</h3></li>
        {% endfor %}
    </ul>

{# TODO -> POUZE PRO PRIHLASENE!!!! DODELAT #}
{% if user.is_authenticated %}
    <form action="{% url 'add_review' movie.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="" type="submit">Add Review</button>
    </form>
{% else %}
{#    <p><a href="{% url 'login' %}">Login to add reviews</a></p>#}
    <p><a href="/accounts/login/">Login to add reviews</a></p>
{% endif %}





{#    {{ form }}#}
{% endblock %}