{% extends 'base.html' %}
{% load static %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<h1>LOGIN USER:</h1>

    {% if user.is_authenticated %}
        <p>Již jsi přihlášen jako {{ user.username }}</p>
    {% else %}
    <form action="" method="post" class="">
    {% csrf_token %}
{#        {{ form.as_p }}#}
{#        {{ form }}#}
    <div class="form-floating mb-3">
        {{ form.username }}
        <label for="floatingUsername">{{ form.username.label }}</label>
        {% if form.username.errors %}
            <div class="text-danger small">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{ form.password }}
        <label for="floatingPassword">{{ form.password.label }}</label>
        {% if form.password.errors %}
            <div class="text-danger small">{{ form.password.errors }}</div>
        {% endif %}
    </div>
        <button type="submit" class="btn btn-primary">Přihlásit</button>
    </form>
      <br>
        <h6>
          Nemáš účet??
            <a href="{% url 'register' %}">
              <button type="button" class="btn btn-secondary btn-sm">Registrovat</button>
            </a>
        </h6>
    {% endif %}
{% endblock %}