{% extends 'base.html' %}
{% load static %}

{% block title %}
	Register User
{% endblock %}

{% block content %}
	<h2>Registrace:</h2>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}

    <form action="" method="post" class="">
    {% csrf_token %}
    <div>
        <label for="username">Uživatel:</label>
        <input type="text" name="username" id="username" required><br>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required><br>
    </div>
    <div>
        <label for="password">Heslo:</label>
        <input type="password" name="password" id="password" required><br>
    </div>
    <div>
        <label for="password2">Heslo znovu:</label>
        <input type="password" name="password2" id="password2" required><br>
    </div>
    <button type="submit" class="">Registrovat</button>
    </form>

{% endblock %}