services:
  web:
#    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
#    pro websocket spoustet pres daphne
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && daphne -b 0.0.0.0 -p 8000 moviehub.asgi:application"
    platform: linux/amd64
    build: .
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
#      - media_volume:/app/media
      - ./media:/app/media
    expose:
      - "8000"
#    ports:
#      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  nginx:
    image: nginx:1.27-alpine
    ports:
      - '8000:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/vol/static/:ro
      - ./media:/vol/media:ro
#      - media_volume:/vol/media:ro
    depends_on:
      - web

  db:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  static_volume:
#  media_volume: